<div class="jumbotron">
	<h1>About us</h1>
	<p>I am working on the One Month Rails Pinteresting app!</p>
	<p>My name is Joe Stephens I am the creator and designer of this test site, I will be updating the site as I progress futher with my skills. So stay tuned for more stuff!</p>
</div>